services:
  backend:
    build: ./backend
    container_name: uceats-api
    ports:
      - "3000:3000"
    volumes:
      - ./backend:/app
      - /app/node_modules
    environment:
      - PORT=3000
      - NODE_ENV=development

  frontend:
    build: ./frontend
    container_name: uceats-web
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend
  
  mongo:
    image: mongo:latest
    container_name: uceats-mongo
    restart: always
    ports:
      - "27017:27017"  # <--- ESTO ES VITAL: Abre la puerta al Windows
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data: