


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


:root {
  --primary-dark: #002F6C;   
  --primary-blue: #004e92;   
  --accent-red: #D9381E;     
  --accent-yellow: #FFD700; 
  
  --text-main: #333333;
  --text-muted: #A0AEC0;
  --bg-body: #F4F6F9;       
  --white: #FFFFFF;
  
  --shadow-soft: 0 4px 6px -1px rgba(0, 0, 0, 0.05);
  --shadow-card: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg-body);
  color: var(--text-main);
  -webkit-font-smoothing: antialiased;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
}

a {
  text-decoration: none;
}